*{
	margin:0;
	padding:0;
	list-style:none;
}

#main{
	width:800px;
	
	margin:0 auto;
}

#box{
	border:1px solid yellow;
	width:100%;
	height:500px;
}

.grid{
	border:1px solid white;
	background:gray;
	float:left;
	color:#fff;
	font-size:15px;
}

.start{
	background:green;
}

.destination{
	background:red;
}

.center{
	background:yellow;
}